body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}


/* --------------------------------------
   NavBar
   -------------------------------------- */

   .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    /*The line below removes the line border*/
    border: none!important;
    background: transparent;
}

.navbar-inverse .navbar-brand {
    color: black;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

.top-nav-collapse {
    padding: 0;
}

.navbar.top-nav-collapse {
    background: #333;
}

.navbar-inverse.top-nav-collapse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand:focus {
    color: black;
}

.navbar-inverse.top-nav-collapse .navbar-brand {
    color: white;
}

/* --------------------------------------
   Header
   -------------------------------------- */

   .intro {
    height: 100%;
    background: url("../images/header.jpg") no-repeat scroll center bottom / cover;
    background-attachment: fixed;
    display: table;
    width: 100%;
    text-align: center;
}

.intro-text {
    font-size: 18px;
}

.brand-heading {
    font-size: 100px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 150px;
}

.headerbtn {
    border: none;
    border-radius: 350px;
    font-weight: 700;
    padding: 15px 30px;
    margin-top: 250px;
}

/* --------------------------------------
   Services
   -------------------------------------- */
   .services-section {
    padding-top: 50px;
   }



/* --------------------------------------
   Portfolio
   -------------------------------------- */

   .portfolio-section {
    background: #95a5a6;
    padding-top: 50px;
}

#portfolioheader {
    text-align: center;
}

.content-section-a {
    padding: 50px 0;
    background: #ecf0f1;
}

.content-section-b {
    padding: 50px 0;
    background: #bdc3c7;
}

/* --------------------------------------
   Careers
   -------------------------------------- */

.careers-section {
  height: 70%;
    padding-top: 50px;
    color: white;
    text-align: center;
background: url("../images/contact-us-bg.png") no-repeat scroll center bottom / cover;
background-attachment: fixed;
}



.contactus-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: white;
}

.investorrelations-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #e74c3c;
}

.careersBtn {
  margin-bottom: 75px;
}


/* --------------------------------------
   Footer
   -------------------------------------- */

   footer {
       background: #333;
       color: #eee;
       font-size: 11px;
       padding: 20px;
   }

/* --------------------------------------
   Media Queries
   -------------------------------------- */

   /*  For smaller screens/mobile devices*/

   @media (max-width:767px){
    .navbar {
        padding: 5px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        /*The line below removes the line border*/
        border: none!important;
        background: #333;
    }

    .navbar-inverse .navbar-brand {
        color: white;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

    .brand-heading {
        font-size: 40px;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-top: 150px;
    }

    .headerbtn {
        border: none;
        border-radius: 350px;
        font-weight: 700;
        padding: 15px 30px;
        margin-top: 100px;
    }
}